@{
    ViewData["Title"] = "Index";
}

<h1>First Classes</h1>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ClassSplit">Back to previous page</a>
</p>
<table class="table">
    <style>
        table {
            text-align: center;
        }

        th {
            border: 1px solid;
            padding: 10px;
        }
    </style>
    <thead>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Class1A" asp-action="Index">Class 1A</a>
            </th>
        </tr>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Class1B" asp-action="Index">Class 1B</a>
            </th>
        </tr>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Class1C" asp-action="Index">Class 1C</a>
            </th>
        </tr>
    </thead>
</table>