@{
    ViewData["Title"] = "Index";
}

<h1>Classes</h1>

<table class="table">
    <style>
        table {
            text-align: center;
        }

        th {
            border: 1px solid;
            padding: 10px;
        }
    </style>
    <thead>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Class1Split">Classes 1</a>
            </th>
        </tr>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Class2Split">Classes 2</a>
            </th>
        </tr>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Class3Split">Classes 3</a>
            </th>
        </tr>
    </thead>
</table>